.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.Header {
  flex: 1;
  padding: 16px 0;
}

.Main {
  flex: 1;
}

.Logo {
  border-radius: 50%;
}

.LogoSVG {
  transform: translateY(4%) rotate(0);
  animation: rotation 3.2s infinite linear;
  margin: 0 5px;
  padding: 5px;
}

@keyframes rotation {
  from {
    transform: translateY(4%) rotate(0deg);
  }
  to {
    transform: translateY(4%) rotate(360deg);
  }
}
